/*home content*/
.home-background {
  background-color: #d1d1d1;
}

.main-background {
  background-image: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, 0.74)), url(../images/front.png);
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*margin-top: 50px;*/
}

.home-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.home-route-content {
  width: 60%;
  padding: 0 50px;
  background-color: #fff;
  box-shadow: 0 0 17px 1px rgba(0,0,0,0.75);
}

.section-container {
  padding-top: 50px;
}

/*gallery*/
.gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-image-container {
  width: 300px;
  height: 230px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  overflow: hidden;
}

.gallery-single-image {
  width: 100%;
}

.gallery-logo {
  height: auto;
}

/*about us*/
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-info {
  width: 40%;
  margin: 20px;
}

.about-info-heading {
  border-bottom: 4px solid #E37222;
  font-size: 1.7em;
  padding: 5px 10px;
}

/*contact us*/
.contact {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.contact-information {
  margin: 10px;
}

.contact-information > h2 {
  font-size: 1.7em;
  border-bottom: 4px solid #04BA3B;
  padding: 5px 10px;
}

/*so the components are visible without nav bar hiding the top part*/
.admin-portal, .book-container, .callback-container, .error-container, .calendar, .profile-container, .login-page, .schedule, .settings-container {
  margin-top: 60px;
}
