.navigation-div {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #46075c;
  box-shadow: 0 2px 20px 3px rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navigation-home {
  margin: 0 0 0 20px;
}

.navigation-home-link {
  color: #fff;
  height: 100%;
}

.navigation-home-link:focus, .navigation-home-link:hover {
  text-decoration: none;
  color: #fff;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 0;
}

.navigation-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 100%;
  font-weight: bold;
}

.navigation-list-link {
  color: #fff;
  height: 100%;
}

.navigation-list-link:focus, .navigation-list-link:hover {
  text-decoration: none;
  color: #fff;
}

.navigation-list-link:hover {
  background-color: rgb(206,169,212);
  color: #46075c;
}
