.navigation-div {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #46075c;
  box-shadow: 0 2px 20px 3px rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navigation-home {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
}

.navigation-home-link {
  color: #fff;
  height: 100%;
}

.navigation-home-link:focus, .navigation-home-link:hover {
  text-decoration: none;
  color: #fff;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  height: 100%;
  margin: 0;
}
.navigation-list-titles {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0;
}

.navigation-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 100%;
  font-weight: bold;
}

.navigation-list-title {
  display: flex;
  text-align: left;
  width: 70px;
  height: 100%;
  font-weight: bold;
  list-style: none;
}
.navigation-list-link {
  color: #fff;
  height: 100%;
}

.navigation-list-link:focus, .navigation-list-link:hover {
  text-decoration: none;
  color: #fff;
}

.navigation-list-link:hover {
  background-color: rgb(206,169,212);
  color: #46075c;
}

.menu-button {
  display: none;
}

@media (max-width: 835px) {
  .navigation-home-link {
    width: 240px;
  }

  .navigation-list a {
    display: none;
  }

  .navigation-list .menu-button {
    float: right;
    display: block;
  }

  .menu-button {
    display: inline-block;
    color: #ffffff;
    margin-right: 30px;
    font-size: 2em;
    cursor: pointer;
    align-self: center;
    position: absolute;
    right: 0;
    top: 14px;
  }

  .navigation-list.responsive-menu {
    position: absolute;
    right: 0;
  }

  .navigation-list.responsive-menu .menu-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigation-list.responsive-menu > a {
    display: block;
    height: 60px;
    width: 100%;
  }

  .navigation-list {
    display: block;
    width: 100%;
    padding: 0;
    top: 60px;
    background-color: #46075c;
    height: auto;
  }

  .navigation-list-item {
    margin: auto;
    text-align: center;
    font-size: 1.3em;
  }
}
